@import "tailwindcss";

@theme {
  --font-heading: var(--font-oswald);
  --font-body: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  
  --primary: #ef4444; /* Red-500 */
  --primary-foreground: #ffffff;
  
  --muted: #171717; /* Neutral-900 */
  --muted-foreground: #a3a3a3; /* Neutral-400 */

  --accent: #ef4444;
  --accent-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
}
